NEXT_PUBLIC_SUPABASE_URL=https://idjtqaqbvrkgxyrtemru.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlkanRxYXFidnJrZ3h5cnRlbXJ1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjgzNjk4MzksImV4cCI6MjA4Mzk0NTgzOX0.WozNYKKQgETR5C3vtBoNtbsVAG-BmBjgV4590dUUSv0
DATABASE_URL=postgresql://postgres:Yousef771192@db.idjtqaqbvrkgxyrtemru.supabase.co:5432/postgres
NEXT_PUBLIC_SITE_URL=http://localhost:3000
